/.metadata/
*.vsidx
*.bin
*.bin
*.dll
*.cache
*.json
*.json
*.props
*.bin
*.cache
*.cache
*.cache
*.BuildWithSkipAnalyzers
*.props
*.cs
*.targets
*.json
*.cache
*.vsidx
*.vsidx
*.txt
*.CopyComplete
*.cache
*.props
*.user
*.v2
*.vsidx
*.v2
*.pdb
RentToRideWebApi/obj/Debug/net8.0/RentToRideWebApi.csproj.AssemblyReference.cache
RentToRideWebApi/obj/project.nuget.cache
*.bin
*.bin
*.csproj
*.user
